<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ma 1ere page Thymeleaf</title>
</head>
<body>
	<div th:include="~{ thymeleaf/menu :: #premierMenu }"></div>
	<div th:insert="~{ thymeleaf/menu :: #premierMenu }"></div>
	<div th:replace="~{ thymeleaf/menu :: #premierMenu }"></div>
	<h1 th:text= "#{ welcome.text }"></h1>
	<div th:object="${ personne }">
		<span th:text="${ personne.num }"></span> 
		<span th:text="*{ #object.nom }"></span> <span th:text="*{ prenom }"></span>
	</div>
	<a th:href="@{ thymeleaf }">Thymeleaf</a>
</body>
</html>